.set*.txt
bin/
dbd/
db/*.db
db/*.template
EssMCAGmotorApp/Db/EssMCAGmotor.substitutions
include/
iocBoot/iocEssMCAGmotor/envPaths*
iocBoot/iocEssMCAGmotor/st.cmd.linux*
iocBoot/iocEssMCAGmotor/st.cmd.darwin*
iocBoot/iocEssMCAGmotor/st.gdb.*
iocBoot/iocEssMCAGmotor/xx
lib/
O.*/
*.pyc
*~
